* {
    box-sizing: border-box;
}
  
body {    
    font-family: sans-serif;
    margin: 3rem;
    background-color: #dfdfdf;    
}

h1, h2 {
    color: #423c3c;
}

.app {
    margin: 3rem auto;
    width: 90%;
}

.name {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 50rem;    
    margin: 3rem auto;
    margin-top: 25rem;
    display: flex;
    justify-content: center;
}

.clock {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 50rem;    
    margin: 3rem auto;    
    display: flex;
    justify-content: center;
}